body {
    background-color: #fff !important; /* 强制设置背景颜色 */
}

.action-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.action-links h3 {
    margin: 0;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

.btn-container {
    margin-top: 20px;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

th, td {
    text-align: center;
}